extends layout

block content
	input#image-change-file(type='file', style='opacity:0;position:absolute;')
	section.container
		h2(style="font-family: 'Berkshire Swash', cursive;color:#F55D5F;text-shadow: 1px 1px 3px rgba(0, 0, 0, .3);") Survey
		hr
	section.container
		section.span8
			section.question
				h2 1)
					span.question-text Riyaasee inthihaabegga kaamiyaabu hoadhumuge furusathu body
				div.btn-group(data-toggle="buttons-radio")
					button.btn.btn-info(type='button') Yameen
					button.btn.btn-info(type='button') Umar
			section.question
				h2 2)
					span.question-text Igthisaadhah emme rangalhuvaanee ?
				div.btn-group(data-toggle="buttons-radio")
					button.btn.btn-info(type='button') Yameen
					button.btn.btn-info(type='button') Umar
			section.question
				h2 3)
					span.question-text Fasnujehi eki kankan thanfeez kuranee?
				div.btn-group(data-toggle="buttons-radio")
					button.btn.btn-info(type='button') Yameen
					button.btn.btn-info(type='button') Umar
			section.question
				h2 4)
					span.question-text Mees meehunge nufoozu nufoaruveynee?
				div.btn-group(data-toggle="buttons-radio")
					button.btn.btn-info(type='button') Yameen
					button.btn.btn-info(type='button') Umar
			section.question
				h2 5)
					span.question-text Maumoonge visnufulhaa emme ehgothah verikan battan kuraanee
				div.btn-group(data-toggle="buttons-radio")
					button.btn.btn-info(type='button') Yameen
					button.btn.btn-info(type='button') Umar
			section.form-actions
				button.btn.btn-primary#submit-survey Submit Survey
		section.span3
			h2(style='color:silver') Surveys
			h1#suveys_done(style='color:#444;font-size:76px;')=survey_count
