doctype 5
html
	head
		title Survey form
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Berkshire+Swash')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Gafata')
		script(src="/javascripts/jquery.js")
		script(src="/socket.io/socket.io.js")
		script(src="/javascripts/bootstrap.js")
		script(src="/javascripts/publicdirectory.js")
		script(src="/templates.js")

		//script setTimeout(function(){window.location.reload(true)}, 300);
	body
		block content
