.item
	border-bottom 1px solid #ccc
	margin-top 10px
.menu
	margin-top 10px

.item-name
	margin 0
	text-transform capitalize
.presence
	font-family: 'Merienda', cursive;
	background: #F0F0F0;
	font-size: 12px;
	text-align: center
.question
	margin-bottom 40px
	h2
		font-family 'Gafata'
		font-weight normal;
		color black
		text-shadow 1px 1px 3px rgba(0, 0, 0, .3);
		font-size 29.5px
	&:hover
		h2
			color #F55D5F;
